<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clients</key>
	<dict>
		<key>data</key>
		<array>
			<array>
				<string>gamma</string>
				<string>delta</string>
			</array>
			<array>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</array>
		<key>hosts</key>
		<array>
			<string>alpha</string>
			<string>omega</string>
		</array>
	</dict>
	<key>database</key>
	<dict>
		<key>connection_max</key>
		<integer>5000</integer>
		<key>enabled</key>
		<true/>
		<key>ports</key>
		<array>
			<integer>8001</integer>
			<integer>8001</integer>
			<integer>8002</integer>
		</array>
		<key>server</key>
		<string>192.168.1.1</string>
	</dict>
	<key>owner</key>
	<dict>
		<key>bio</key>
		<string>GitHub Cofounder &amp; CEO
Likes tater tots and beer.</string>
		<key>dob</key>
		<string>1979-05-27T07:32:00.000Z</string>
		<key>name</key>
		<string>Tom Preston-Werner</string>
		<key>organization</key>
		<string>GitHub</string>
	</dict>
	<key>servers</key>
	<dict>
		<key>alpha</key>
		<dict>
			<key>dc</key>
			<string>eqdc10</string>
			<key>ip</key>
			<string>10.0.0.1</string>
		</dict>
		<key>beta</key>
		<dict>
			<key>dc</key>
			<string>eqdc10</string>
			<key>ip</key>
			<string>10.0.0.2</string>
		</dict>
	</dict>
	<key>title</key>
	<string>Example</string>
</dict>
</plist>
